@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

:root {
  --dark-blue: #3D5A80;
  --light-blue: #98C1D9;
  --base: #E0FBFC;
  --orange: #EE6C4D;
  --darker-blue: #293241;
}

body, p, h1, h2, h3, h4, h5, h6 {
  margin: 0px;
  font-family: 'Ubuntu', sans-serif;
}

body {
  background-color: var(--dark-blue)
  /* background-image: linear-gradient(285deg, rgba(152,193,217,1) 0%, rgba(61,90,128,1) 100%); */
}

.container {
  background-color: #FFFFFF;
  display: flex;
  flex-direction: column;
  width: 50vw;
  min-width: 20rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform:translate(-50%, -50%);
  /* transform: rotate(25deg); */
  /* transform: scale(0.5); */
  padding: 0.5rem;
  border: 1px solid black;
  border-radius: 5px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.f-right {
  float: right;
}

.action_btn {
  margin-top: 1.5rem;
  background-color: transparent;
  border: 2px solid var(--darker-blue);
  border-radius: 5px;
  transition: all 0.25s;
}

.action_btn:hover {
  background-color: var(--darker-blue);
  color: var(--orange);
}

.op_pass {
  margin-top: 1rem;
  text-align: center;
  padding: 0.5rem 0px;
  font-size: large;
  border: 2px dashed var(--light-blue);
}

.title {
  margin-bottom: 1.5rem;
  text-align: center;
  text-decoration: underline;
  color: var(--orange);
}